* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
  background-color: #212121;
  height: 100%;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

#nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#picture {
  background-image: url("./assets/egg2.png");
  background-size: contain;  /* Ensures the image covers the entire container */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  margin: 5px 0px;
}

#body {
  width: 75%;
  margin: 0 auto;
}

#results-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

@media (max-width: 768px) {
  #body {
    width: 100%; 
  }
}